<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Appenders -->
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd MMM yyyy HH:mm:ss,SSS} %-10t [%-5p]    %-50c{2} %x - %m%n" />
		</layout>
	</appender>

	<!-- Loggers -->
	<logger name="com.mobiNxtGen">
		<level value="TRACE" />
	</logger>



	<root>
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<!-- <appender-ref ref="EmailAppender" /> -->
	</root>
</log4j:configuration>
